p {
    color: blue;
    text-transform: uppercase;
    text-align: center;
}
/* Selector Class */
.navbar-text{
    color: brown;
}
/* Selector ID */
#navbar{
    background-color: black;
}
#jumbotron{
    background-color: aqua;
}
#footer{
    background-color: yellowgreen;
}